@model Domain.Entities.Ayle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ayle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.xPos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.xPos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yPos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yPos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zPos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zPos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
